* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @link https://utopia.fyi/type/calculator?c=320,14,1.125,1024,16,1.25,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --purple: #450084;
  --rose: #e71bf0;
  --yellow: #ffdc00;
  --white: #ffffff;

  /* Step -2: 11.0617px → 10.24px */
  --step--2: clamp(0.64rem, 0.7147rem + -0.1167vi, 0.6914rem);
  /* Step -1: 12.4444px → 12.8px */
  --step--1: clamp(0.7778rem, 0.7677rem + 0.0505vi, 0.8rem);
  /* Step 0: 14px → 16px */
  --step-0: clamp(0.875rem, 0.8182rem + 0.2841vi, 1rem);
  /* Step 1: 15.75px → 20px */
  --step-1: clamp(0.9844rem, 0.8636rem + 0.6037vi, 1.25rem);
  /* Step 2: 17.7188px → 25px */
  --step-2: clamp(1.1074rem, 0.9006rem + 1.0343vi, 1.5625rem);
  /* Step 3: 19.9336px → 31.25px */
  --step-3: clamp(1.2458rem, 0.9244rem + 1.6074vi, 1.9531rem);
  /* Step 4: 22.4253px → 39.0625px */
  --step-4: clamp(1.4016rem, 0.9289rem + 2.3632vi, 2.4414rem);
  /* Step 5: 25.2285px → 48.8281px */
  --step-5: clamp(1.5768rem, 0.9063rem + 3.3522vi, 3.0518rem);
  /* Step 6: 28.382px → 61.0352px */
  --step-6: clamp(1.7739rem, 0.8462rem + 4.6382vi, 3.8147rem);
  /* Step 7: 31.9298px → 76.2939px */
  --step-7: clamp(1.9956rem, 0.7353rem + 6.3017vi, 4.7684rem);
}


/* Cambiar el color cuando un usuario seleccione un texto */
::selection {
  background-color: var(--rose);
  color: var(--white);
}

::-moz-selection {
  background-color: var(--rose);
  color: var(--white);
}

::-webkit-selection {
  background-color: var(--rose);
  color: var(--white);
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background-color: var(--rose);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover { background-color: #970d9e; }

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--white);
  background-color: var(--purple);
}

a { text-decoration: none; }

p { text-wrap: pretty; }

.container {
  max-width: 1200px;
  width: 90%;
  margin-inline: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
  color: inherit;
  text-align: center;
  border: 2px solid transparent;
}

.btn__primary {
  background-color: var(--rose);
  border-radius: 1.25rem 0 1.25rem 0;
  transition: color .3s, background-color .3s;

  &:hover, 
  &:focus {
    color: var(--purple);
    background-color: var(--white);
  }
}

.btn__secondary {
  background-color: transparent;
  border-radius: 1.25rem 0 1.25rem 0;
  border-color: var(--white);
  transition: color .3s, background-color .3s;

  &:hover, 
  &:focus {
    color: var(--purple);
    background-color: var(--white);
  }
}

.title {
  font-size: var(--step-6);
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
}

.title-white { color: var(--white); }

.title-yellow { color: var(--yellow);}

.section {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socials-media {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.socials-media-item {
  height: 1rem;
  list-style: none; 
}

.socials-media-link {
  display: inline-block;
  transition: transform .3s;
  
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

/* HEADER */
.header { background-color: var(--purple); }

.nav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .5rem;
}

.nav-primary__email {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.nav-primary__email-icon {
  width: 1rem;
  height: 1rem;
}

.nav-primary__email-name {
  font-size: var(--step--1);
  font-weight: 600;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.navbar {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #c8c8c899;
  background-image: url("../assets/img/1.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #1f003c80;
  }
}

.navbar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block: .5rem;
}

.navbar__logo { 
  width: 100%;
  min-width: 100px;
  max-width: 250px;
}

.navbar__logo img { width: 100%; }

.navbar__buttons {
  display: flex;
  gap: .5rem;
}

.btn__secondary--navbar,
.btn__primary--navbar {
  gap: .5rem;
  font-size: .6rem;
  font-weight: 600;

  .icon {
    width: 1rem;
  }
}

/* SECTION HERO */
.section-one { 
  height: calc(100vh - 143.92px);
  background-image: url("../assets/img/1.webp"); 
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  padding-top: 2rem;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 750px;
}

.hero__title { order: 1; }

.hero__paragraph {
  order: 2;
  font-size: var(--step-1);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  .bold {
    font-weight: 800;
  }
}

.hero__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.btn__primary--hero,
.btn__secondary--hero {
  padding: 1rem 2rem;
  font-size: var(--step-1);
  font-weight: 700;
  border-radius: 1.25rem 0 1.25rem 0;
}

.btn__primary--hero { box-shadow: 0 0 40px var(--rose); }

.hero__footer { background-color: #45008480; }

.hero__footer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block: 1rem;
}

.hero__info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__info-title {
  display: flex;
  flex-direction: column;
  font-size: var(--step-0);
  font-weight: 600;
  line-height: 1;

  .small {
    font-size: var(--step--1);
  }
}

/* SECTION ABOUT */
.section-two {
  background-image: url("../assets/img/2.webp");
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.about-pro .about__list { display: none; }

.about__figure {
  width: 100%;
  max-width: 500px;
}

.about__figure img {
  width: 100%;
}

.about__container-lists {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 600;
}

.about__item {
  font-size: var(--step-1);
  list-style-position: inside;
}

.about__item::marker {
  color: var(--rose);
}

.animate-scroll {
  gap: 1rem;
  animation: scroll 1s ease infinite alternate;
}

.about__scroll {
  order: 1;
  display: flex;
  align-items: center;
  gap: .8rem;
  font-size: var(--step--1);
}

.about__scroll-text {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--white);
}

@keyframes scroll {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10%);
  }
}

/* SECTIONS TO LEARN */
.section-three {
  background-image: url("../assets/img/3.webp");
}

.section-four {
  background-image: url("../assets/img/4.webp");
}

.section-five {
  background-image: url("../assets/img/5.webp");
}

.section-six {
  background-image: url("../assets/img/6.webp");
}

.section-three,
.section-four,
.section-five,
.section-six {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--purple);
    opacity: .3;
  }
}

.to-learn {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 100%;
  padding-block: 2rem;
}

.title-to-learn {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: var(--step-7);
  text-align: left;
  border-left: 1rem solid var(--white);
}

.to-learn__paragraph {
  max-width: 400px;
  font-size: var(--step-1);
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}

/* SECTION CREATIVITY - SLIDER */
.section-seven { background-image: url("../assets/img/7.webp");}

.creativity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 100%;
}

.title-creativity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-white-creativity {
  font-size: var(--step-4);
}

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.slider__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: 350px;
  padding: 2rem;
  background-color: #17003B;
  border-radius: 4.8rem 0 4.8rem 0;
  border: 4px solid #7001D4;
  box-shadow: 0 0 8px #7001D4;
}

.slider__title {
  display: block;
  margin-bottom: 1rem;
  font-size: var(--step-2);
  font-weight: 700;
  color: var(--rose);
  text-align: center;
}

.slider__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider__item {
  display: flex;
  gap: 1rem;
  font-size: var(--step-1);
  list-style: none;
  list-style-position: inside;
}

.slider__item img {
  filter: drop-shadow(0 0 2px var(--rose));
}

.slider__icon {
  position: absolute;
  top: -1.5rem;
  left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--rose);
  border-radius: 50%;
}

.slider__icon img { height: 1.5rem; }

/* SECTION MANAGED - SECTION EIGHT */
.section-eight { background-image: url("../assets/img/8.webp"); }

.managed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.managed__content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.title-managed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.title-white-managed { font-size: var(--step-4); }

.managed__paragraph {
  margin-bottom: 1.5rem;
  font-size: var(--step-1);
  font-weight: 500;
}

.managed__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.managed__card {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 280px;
  padding: .7rem 1rem;
  background-color: #17003B;
  border-radius: 1.5rem 0 1.5rem 0;
  border: 2px solid var(--rose);
  box-shadow: 0 0 4px var(--rose);
}

.managed__card p {
  font-size: var(--step-0);
  font-weight: 500;
}

/* SECTION PRICING - NINE */
.section-nine { background-image: url("../assets/img/7.webp");}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.pricing__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-white-pricing { font-size: var(--step-4); }

.pricing__paragraph {
  font-size: var(--step-1);
  font-weight: 500;
}

.pricing__info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 5rem;
}

.pricing__info-content {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.pricing__info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--rose);
  border-radius: .5rem;
}

.pricing__info-icon img {
  height: 1rem;
}

.pricing__info-text {
  width: min-content;
  font-size: var(--step--1);
  font-weight: 700;
}

.pricing__card {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2.5rem;
  background-color: #17003B;
  border: 4px solid var(--rose);
  border-radius: 5.5rem 0 5.5rem 0;
  box-shadow: 0 0 24px var(--rose);
}

.pricing__card-logo {
  width: 100%;
  max-width: 250px;
}

.pricing__card-before,
.pricing__card-now {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__card-before-title, 
.pricing__card-now-title {
  font-size: var(--step-0);
  font-weight: 700;
}

.pricing__card-before-price {
  font-size: var(--step-1);
  font-weight: 700;
  text-decoration-color: #ff0000;
}

.pricing__card-now-price {
  font-size: var(--step-4);
  font-weight: 800;
}

.pricing__card-now-coin {
  font-size: var(--step-0);
  font-weight: 700;
}

.btn__primary--pricing {
  padding: 1rem 2rem;
  font-size: var(--step-0);
  font-weight: 700;
  box-shadow: 0 0 24px var(--rose); 
}

.pricing__card-info {
  font-size: var(--step-0);
  font-weight: 700;
}

.pricing__card-info--help { 
  font-size: var(--step--1);
  font-weight: 600; 
}

.pricing__card-info--help a {
  font-weight: 800;
  color: inherit;
  transition: color .3s;

  &:hover,
  &:focus {
    color: var(--rose);
    text-decoration: underline;
  }
}

/* SECTION FAQ - TEN */
.section-ten { background-image: url("../assets/img/7.webp");}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

.title-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-white-faq { font-size: var(--step-4); }

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq__details {
  width: 100%;
  max-width: 650px;
  margin-inline: auto;
  border-radius: 2.3rem 0 2.3rem 0;
  border: 1px solid var(--rose);
}

.faq__title {
  padding: 1rem;
  font-size: var(--step-1);
  font-weight: 700;
  text-align: center;
  list-style: none; /* Oculta el marcador por defecto, para tener mejor seguridad de que se oculte */
  background-color: var(--rose);
  border-radius: 2.3rem 0 2.3rem 0;
  box-shadow: 0 0 24px var(--rose);
  cursor: pointer;
}

.faq__title:-webkit-details-marker { /* Oculta el marcador por defecto en safari o navegadores webkit */
  display: none;
}

.faq__answer {
  padding: 1rem 2rem;
  font-size: var(--step-0);
  font-weight: 500;
}

/* SECTION ABOUT ME - ELEVEN */
.section-eleven { 
  position: relative;
  background-image: url("../assets/img/12.webp"); 

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--purple);
    opacity: .3;
  }
}

.about-me {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
}

.title-about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.about-me__subtitle {
  font-size: var(--step-3);
  font-weight: 700;
}

.about-me__paragraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--step-1);
  font-weight: 600;
}

.about-me__subtitle,
.about-me__paragraph {
  max-width: 650px;
}

/* FOOTER */
.footer__content-primary { background-color: var(--purple); }

.footer__primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-block: 2rem;
}

.footer__logo {
  width: 100%;
  max-width: 250px;
}

.footer__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem;
}

.footer__email,
.footer__phone {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.footer__email-name,
.footer__phone-name {
  font-size: var(--step-0);
  font-weight: 600;
  color: inherit;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__content-developed { background-color: var(--rose); }

.footer__developed {
  padding-block: 1rem;
  font-size: var(--step-0);
  font-weight: 600;
  text-align: center;
}

.footer__developed strong {
  font-weight: 800;
}

@media (width >= 375px) {
  .navbar__container { flex-direction: row; }

  /* SECTION HERO */
  .section-one { 
    height: calc(100vh - 94px);
  }
}

@media (width >= 550px) {
  .btn__primary--navbar,
  .btn__secondary--navbar {
    font-size: var(--step--1);
    white-space: nowrap;
  }
}

@media (width >= 768px) {
  .navbar .btn { padding: .7rem 2rem; }

  /* HEADER */
  .nav__email { gap: 1rem; }

  .nav__socials-media { gap: 1rem; }

  .navbar__buttons {
    display: flex;
    gap: 1.5rem;
  }

  .btn__primary--hero,
  .btn__secondary--hero {
    padding-inline: 3rem;
  }

  /* SECTION HERO */
  .section-one { 
    height: calc(100vh - 100.38px);
  }

  .hero__footer-container {
    gap: 5rem;
  }

  /* SECTION ABOUT */
  .about-pro {
    position: relative;
    display: block;
  }

  .about__figure {
    display: block;
    width: 450px;
    margin-inline: auto;
  }

  .about-pro .about__list {
    position: absolute;
    display: block;
    width: 250px;
  }

  .about-pro .about__list--one,
  .about-pro .about__list--two {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }

  .about-pro .about__list--one {
    top: 0;
    left: -34%;
    text-align: right;
  }

  .about__item--one {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -1rem;
      display: block;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      border: 2px solid var(--rose);
      transform: translateY(-50%);
    }
  }

  .about-pro .about__list--two {
    top: 0;
    right: -34%;
  }

  .about__item--two {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -1rem;
      display: block;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      border: 2px solid var(--rose);
      transform: translateY(-50%);
    }
  }

  .about__item--two:nth-child(2) {
    width: 150px;
  }

  .about__container-lists {
    display: none;
  }

  /* SECTION PRICING */
  .btn__primary--pricing { padding-inline: 3rem; }
}

@media (width >= 896px) {
  /* SECTION ABOUT */
  .about__figure {
    position: relative;
    z-index: 10;
  }

  .about-pro .about__list--one {
    left: -45%;
  }

  .about__item--one:nth-child(1) {
    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 1.3rem);
      left: calc(100% + .6rem);
      display: block;
      width: 4rem;
      border: 1px solid var(--rose);
      transform: rotate(35deg);
    }
  }

  .about__item--one:nth-child(2) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: calc(100% + 1rem);
      display: block;
      width: 3.5rem;
      border: 1px solid var(--rose);
    }
  }

  .about__item--one:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 1.3rem);
      left: calc(100% + .6rem);
      display: block;
      width: 4rem;
      border: 1px solid var(--rose);
      transform: rotate(-35deg);
    }
  }

  .about-pro .about__list--two {
    right: -45%;
  }

  .about__item--two:nth-child(1) {
    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 1.3rem);
      right: calc(100% + .6rem);
      display: block;
      width: 4rem;
      border: 1px solid var(--rose);
      transform: rotate(-35deg);
    }
  }

  .about__item--two:nth-child(2) {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: calc(100% + 1rem);
      display: block;
      width: 3.5rem;
      border: 1px solid var(--rose);
    }
  }

  .about__item--two:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 1.3rem);
      right: calc(100% + .6rem);
      display: block;
      width: 4rem;
      border: 1px solid var(--rose);
      transform: rotate(35deg);
    }
  }
}

@media (width >= 1024px) {
  /* SECTION ABOUT */
  .about-pro .about__list--one {
    left: -55%;
  }

  .about__item--one:nth-child(1) {
    &::before {
      top: calc(50% + 2.3rem);
      left: calc(100% + .25rem);
      width: 8rem;
      border: 1px solid var(--rose);
      transform: rotate(35deg);
    }
  }

  .about__item--one:nth-child(2) {
    &::before {
      width: 6rem;
    }
  }

  .about__item--one:nth-child(3) {
    &::before {
      top: calc(50% - 2.5rem);
      left: calc(100% + .25rem);
      width: 8rem;
      transform: rotate(-35deg);
    }
  }

  .about-pro .about__list--two {
    right: -55%;
  }

  .about__item--two:nth-child(1) {
    &::before {
      top: calc(50% + 2.3rem);
      right: calc(100% + .25rem);
      width: 8rem;
      border: 1px solid var(--rose);
      transform: rotate(-35deg);
    }
  }

  .about__item--two:nth-child(2) {
    &::before {
      width: 6rem;
    }
  }

  .about__item--two:nth-child(3) {
    &::before {
      top: calc(50% - 2.5rem);
      right: calc(100% + .25rem);
      width: 8rem;
      transform: rotate(35deg);
    }
  }

  /* SECTION PRICING */
  .pricing { 
    flex-direction: row;
    justify-content: space-between;
  }

  .pricing__content { 
    align-self: center; 
    gap: 2rem;
    width: 600px;
  }

  .pricing__info { justify-content: space-between; }

  .pricing__card { 
    gap: 1.2rem;
    padding: 3rem 2.5rem; 
  }
}